{% extends "layouts/base.html" %}

{% block title %} Faculdade {% endblock %} 
as_crispy_errors 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Faculdade</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><span class="feather icon-home"></span></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_faculdade' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'criar_faculdade' %}">Criar Faculdade</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Criar Faculdade</h5>
                                </div>
                                <div class="col-md-6">
                                    <form role="form" method="POST" action="" >
                                        {% csrf_token %}
                                        
                                        <label>Nome da Faculdade<b>*</b></label>
                                        <div>{{ form.nome_faculdade }}</div>

                                        <label>Nome do Diretor da Faculdade<b>*</b></label>
                                        <div>{{ form.nome_direitor_faculdade }}</div>
                                        
                                        <div id="linhaForms"> 
                                            <div class="unidade">
                                                <label>CNPJ da Faculdade</label>
                                                <div>{{ form.cnpj_faculdade }}</div>
                                            </div>
                                            <div >
                                                <label>Telefone da Faculdade<b>*</b></label>
                                                <div>{{ form.telefone_faculdade }}</div>
                                            </div>
                                        </div>

                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Campus da Faculdade</label>
                                                <div>{{ form.campus_faculdade }}</div>
                                            </div>
                                        </div>
                                        
                                        <div  class="card"></div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/pages/mask.js"></script>
{% endblock javascripts %}



