{% extends "layouts/base.html" %}

{% block title %} Partiu Estagio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Estagiários</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><span class="feather icon-home"></span></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_estagiario_partiu_estagio' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'editar_estagiario_partiu_estagio' estagiario.cpf_estagiario %}">Editar Estagiário</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Atualizar Estagiario</h5>
                                </div>
                                {% if mensagem %}
                                    {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success" role="alert">
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="col-md-6">
                                    <form role="form" method="POST" action="" >
                                        {% csrf_token %}

                                        <label>Nome do Estagiário<b>*</b></label>
                                        <div>{{ form.nome_estagiario }}</div>
                                        <div id="linhaForms"> 
                                            <div class="unidade">
                                                <label>CPF do Estagiário<b>*</b></label>
                                                <div>{{ form.cpf_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>RG do Estagiário<b>*</b></label>
                                                <div>{{ form.rg_estagiario }}</div>
                                            </div>
                                            <div class="unidade">
                                                <label>NIS do Estagiário </label>
                                                <div>{{ form.nis_pis_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>Data de nascimento do Estagiário </label>
                                                <div>{{ form.data_nascimento_estagiario }}</div>
                                            </div>
                                        </div>
                                            
                                        <label>Email do Estagiário<b>*</b></label>
                                        <div>{{ form.email_estagiario }}</div>
                                            
                                        <div id="linhaForms">
                                            <div>
                                                <label>Telefone do Estagiário<b>*</b></label>
                                                <div>{{ form.telefone_estagiario }}</div>
                                            </div>
                                        </div>

                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Gênero do Estagiário<b>*</b></label>
                                                <div>{{ form.genero_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>Raça do Estagiário<b>*</b></label>
                                             <div>{{ form.raca_estagiario }}</div>
                                            </div>    
                                        </div>

                                        <label>Responsável pelo Estagiário<b>*</b></label>
                                        <div>{{ form.nome_responsavel_estagiario }}</div>

                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Bairro<b>*</b></label>
                                                <div>{{ form.bairro_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>Número<b>*</b></label>
                                                <div>{{ form.numero_estagiario }}</div>
                                            </div>
                                        </div>
                                            
                                        <label>Complemento</label>
                                        <div>{{ form.complemento_estagiario }}</div>
                                        
                                        <label>Faculdade do Estagiário<b>*</b></label>
                                        <div>{{ form.faculdade_estagiario }}</div>

                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Semestre do Estagiário<b>*</b></label>
                                                <div>{{ form.semestre_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>Matrícula do Estagiário  </label>
                                                <div>{{ form.matricula_estagiario }}</div>
                                            </div>
                                            
                                            <div class="unidade">
                                                <label>Turno do Estagiário<b>*</b></label>
                                                <div>{{ form.turno_estagiario }}</div>
                                            </div>
                                            <div>
                                                <label>Situação do Estagiário<b>*</b></label>
                                                <div>{{ form.situacao_estagiario }}</div>
                                            </div>
                                        </div>

                                        <label>Supervisor do Estagiário<b>*</b></label>
                                        <div>{{ form.supervisor_estagiario }}</div>

                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Sede do Estagiário<b>*</b></label>
                                                <div>{{ form.sede_estagiario }}</div>
                                            </div> 
                                            <div>
                                                <label>Curso do Estagiário<b>*</b></label>
                                                <div>{{ form.curso_estagiario }}</div>
                                            </div>
                                        </div>
                                        
                                        <div id="linhaForms">
                                            <div class="unidade">
                                                <label>Programa do Estagiário<b>*</b></label>
                                                <div>{{ form.programa_estagiario }}</div>
                                            </div> 
                                            <div>
                                                <label>Edital do Estagiário<b>*</b></label>
                                                <div>{{ form.edital_estagiario }}</div>
                                            </div>
                                        </div>

                                        <div class="card"></div>
                                        <button type="submit" class="btn btn-primary">Atualizar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/pages/mask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="></script>

    <script>
        $(document).ready(function() {
            $('#id_turno_estagiario').select2();
            $('#id_semestre_estagiario').select2();
            $('#id_genero_estagiario').select2();
            $('#id_raca_estagiario').select2();
            $('#id_situacao_estagiario').select2();
            $('#id_supervisor_estagiario').select2();
            $('#id_sede_estagiario').select2();
            $('#id_faculdade_estagiario').select2();
            $('#id_curso_estagiario').select2();
            $('#id_programa_estagiario').select2();
            $('#id_edital_estagiario').select2();
        });
    </script>
{% endblock javascripts %}


