{% extends "layouts/base.html" %}

{% block title %} Partiu Estágio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">DashBoard - Partiu Estágio</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><span class="feather icon-home"></span></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_estagiario_partiu_estagio' %}">DashBoard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    {% if mensagem %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <p>{{ mensagem }}</p>
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                <button class="close" data-dismiss="alert">&times;</button>
                                <p>{{ mensagem }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Estagiários</h5>
                                </div>
                                
                                <div class="card-body">
                                    <div>
                                        <a href="{% url 'criar_estagiario_partiu_estagio' %}" id="criar-entidade" type="button" class="btn btn-success">+ Criar Estagiário</a>
                                    </div>
                                    
                                    <form action="{% url 'consultar_estagiario_partiu_estagio' %}" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <h5 id="consultar" class="m-b-10">Consultar</h5>
                                        <input type="text" class="form-control nome-consultar" name="buscar_estagiario_partiu_estagio" placeholder="Nome do Estagiário">
                                        
                                        <div id="linhaForms">
                                            <div>
                                                <input type="text" class="form-control mask-cpf campo-duplo-consulta" style="margin-left: 10%;" name="buscar_cpf_estagiario_partiu_estagio" placeholder="CPF do Estagiário">
                                            </div>
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 1%;" name="buscar_situacao_estagiario_partiu_estagio" placeholder="Situação do Estagiário">
                                            </div>
                                        </div>
                                        
                                        <div id="linhaForms">
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 10%;" name="buscar_turno_estagiario_partiu_estagio" placeholder="Turno do Estagiário">
                                            </div>
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 1%;" name="buscar_bairro_estagiario_partiu_estagio" placeholder="Bairro do Estagiário">
                                            </div>
                                        </div>
                                        
                                        <div id="linhaForms">
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 10%;" name="buscar_supervisor_estagiario_partiu_estagio" placeholder="Supervisor do Estagiário">
                                            </div>
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 1%;" name="buscar_sede_estagiario_partiu_estagio" placeholder="Sede do Estagiário">
                                            </div>
                                        </div>

                                        <input type="text" class="form-control nome-consultar" name="buscar_faculdade_estagiario_partiu_estagio" placeholder="Faculdade do Estagiário">
                                        
                                        <div id="linhaForms">
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 10%;" name="buscar_curso_estagiario_partiu_estagio" placeholder="Curso do Estagiário">
                                            </div>
                                            <div>
                                                <input type="text" class="form-control campo-duplo-consulta" style="margin-left: 1%;" name="buscar_edital_estagiario_partiu_estagio" placeholder="Edital do Estagiário">
                                            </div>
                                        </div>

                                        <button type="submit" id="btn-consultar" class="btn btn-primary">Consultar</button>
                                    </form>

                                    <br><br><br><br><br><br>

                                    {% if estagiarios %}
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>CPF</th>
                                                        <th>Nome</th>
                                                        <th>Situação</th>
                                                        <th>Turno</th>
                                                        <th>Bairro</th>
                                                        <th>Supervisor</th>
                                                        <th>Sede</th>
                                                        <th>Faculdade</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for estagiario in estagiarios %}
                                                    <tr>
                                                        <td>{{ estagiario.cpf_estagiario }}</td>
                                                        <td>{{ estagiario.nome_estagiario }}</td>
                                                        <td>{{ estagiario.situacao_estagiario }}</td>
                                                        <td>{{ estagiario.turno_estagiario }}</td>
                                                        <td>{{ estagiario.bairro_estagiario }}</td>
                                                        <td>{{ estagiario.supervisor_estagiario }}</td>
                                                        <td>{{ estagiario.sede_estagiario }}</td>
                                                        <td>{{ estagiario.faculdade_estagiario }}</td>
                                                        <td><a href="{% url 'editar_estagiario_partiu_estagio' estagiario.cpf_estagiario %}" type="button" class="btn btn-success" style="margin-top: 10px; margin-left: 45%;">Editar</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/pages/mask.js"></script>
{% endblock javascripts %}
