{% extends "layouts/base.html" %}

{% block title %} Partiu Estagio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ Padrao do HEADER da pagina] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Supervisor</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><span class="feather icon-home"></span></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard_supervisor' %}">DashBoard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'editar_supervisor' supervisor.id_supervisor %}">Editar Supervisor</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [  Padrao do HEADER da pagina ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Atualizar Supervisor</h5>
                                </div>
                                {% if mensagem %}
                                    {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success" role="alert">
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <p>{{ mensagem }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="col-md-6">
                                    <form role="form" method="POST" action="" >
                                        {% csrf_token %}

                                        <label>Nome do Supervisor<b>*</b></label>
                                        <div>{{ form.nome_supervisor }}</div>

                                        <label>Email do Supervisor<b>*</b></label>
                                        <div>{{ form.email_supervisor }}</div>

                                        <label>Sede do Supervisor<b>*</b></label>
                                        <div>{{ form.sede_supervisor }}</div>
                                        <div id="linhaForms">
                                            <div>
                                                <label>Telefone do Supervisor<b>*</b></label>
                                                <div>{{ form.telefone_supervisor }}</div>
                                            </div>
                                        </div>
                                                                                
                                        <div class="card"></div>
                                        <button type="submit" class="btn btn-primary">Atualizar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/pages/mask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="></script>

    <script>
        $(document).ready(function() {
            $('#id_sede_supervisor').select2();
        });
    </script>
{% endblock javascripts %}
