
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- GRAFICO ESTAGIARIO POR SITUAÇAO-->
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Situação', 'Quantidade'],
      {% for sit in situacao %}
        ["{{ sit.nome }}", {{ sit.qtd}}],
      {% endfor %}
    ]);

    var options = {
      title: 'Quantidade de Estagiarios por Situação',
      width: 450,
      height: 350,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donut-estagiario-situacao'));

    chart.draw(data, options);
  }
</script>

<!-- GRAFICO SUPERVISORES POR SEDES-->
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Supervisores', 'Quantidade'],
      {% for sup in supervisores %}
        ["{{ sup.nome }}", {{ sup.qtd}}],
      {% endfor %}
    ]);

    var options = {
      title: 'Quantidade de Supervisores por Sede',
      width: 450,
      height: 350,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donut-supervisor-sede'));

    chart.draw(data, options);
  }
</script>

<!-- GRAFICO SUPERVISORES POR SEDES-->
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Sedes', 'Quantidade'],
      {% for sede in sedes %}
        ["{{ sede.nome }}", {{ sede.qtd}}],
      {% endfor %}
    ]);

    var options = {
      title: 'Quantidade de Sedes por Bairro',
      width: 450,
      height: 350,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donut-sede-bairro'));

    chart.draw(data, options);
  }
</script>

<!-- GRAFICO MUNICIPIOS POR NTES-->
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Municipios', 'Quantidade'],
      {% for municipio in municipios %}
        ["{{ municipio.nome }}", {{ municipio.qtd}}],
      {% endfor %}
    ]);

    var options = {
      title: 'Quantidade de Municipios por NTE',
      width: 450,
      height: 350,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donut-municipio-nte'));

    chart.draw(data, options);
  }
</script>