
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- GRAFICO NTE-->
<script type="text/javascript">
  google.charts.load("current", {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ["NTE", "Quantidade", { role: "style" } ],
      {% for nte in ntes %}
        ["{{ nte.nome }}", {{ nte.qtd}}, "{{ nte.cor}}"],
      {% endfor %}
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

    var options = {
      title: "Quantidade de Municípios por NTE",
      width: 450,
      height: 350,
      bar: {groupWidth: "65%"},
      legend: { position: "none" },
    };
    var chart = new google.visualization.ColumnChart(document.getElementById("chart-nte"));
    chart.draw(view, options);
}
</script>